@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{box-sizing:border-box}html,body{height:100%}body{font-family:"Roboto",sans-serif;font-size:calc(1.275rem + 0.3vw);line-height:calc(1.325rem + 0.9vw)}@media(min-width: 1200px){body{font-size:1.5rem}}@media(min-width: 1200px){body{line-height:2rem}}.slides{height:100%}h1{font-size:calc(1.525rem + 3.3vw);line-height:calc(1.575rem + 3.9vw)}@media(min-width: 1200px){h1{font-size:4rem}}@media(min-width: 1200px){h1{line-height:4.5rem}}h2{font-size:calc(1.475rem + 2.7vw);line-height:calc(1.525rem + 3.3vw)}@media(min-width: 1200px){h2{font-size:3.5rem}}@media(min-width: 1200px){h2{line-height:4rem}}h3{font-size:calc(1.425rem + 2.1vw);line-height:calc(1.475rem + 2.7vw)}@media(min-width: 1200px){h3{font-size:3rem}}@media(min-width: 1200px){h3{line-height:3.5rem}}h4{font-size:calc(1.395rem + 1.74vw);line-height:calc(1.445rem + 2.34vw)}@media(min-width: 1200px){h4{font-size:2.7rem}}@media(min-width: 1200px){h4{line-height:3.2rem}}h5{font-size:calc(1.355rem + 1.26vw);line-height:calc(1.405rem + 1.86vw)}@media(min-width: 1200px){h5{font-size:2.3rem}}@media(min-width: 1200px){h5{line-height:2.8rem}}h6{font-size:calc(1.325rem + 0.9vw);line-height:calc(1.395rem + 1.74vw)}@media(min-width: 1200px){h6{font-size:2rem}}@media(min-width: 1200px){h6{line-height:2.7rem}}.arrow{position:absolute;bottom:50px}.arrow-right{right:50px;width:0;height:0;border-style:solid;border-width:60px;border-top-color:transparent;border-bottom-color:transparent;border-right:none;border-left-color:rgba(255,255,255,.2)}.arrow-right:hover{border-left-color:rgba(255,255,255,.7)}.arrow-left{right:120px;width:0;height:0;border-style:solid;border-width:60px;border-top-color:transparent;border-bottom-color:transparent;border-left:none;border-right-color:rgba(255,255,255,.2)}.arrow-left:hover{cursor:pointer;border-right-color:rgba(255,255,255,.7)}
.left-column-container{padding:calc(1.325rem + 0.9vw)}@media(min-width: 1200px){.left-column-container{padding:2rem}}@media(min-width: 64em){.left-column-container{padding-left:calc(1.375rem + 1.5vw)}}@media(min-width: 64em)and (min-width: 1200px){.left-column-container{padding-left:2.5rem}}@media(min-width: 85.375em){.left-column-container{padding-left:calc(1.425rem + 2.1vw)}}@media(min-width: 85.375em)and (min-width: 1200px){.left-column-container{padding-left:3rem}}@media(min-width: 120em){.left-column-container{padding-left:calc(1.475rem + 2.7vw)}}@media(min-width: 120em)and (min-width: 1200px){.left-column-container{padding-left:3.5rem}}.right-column-container{padding:calc(1.325rem + 0.9vw)}@media(min-width: 1200px){.right-column-container{padding:2rem}}@media(min-width: 64em){.right-column-container{padding-right:calc(1.375rem + 1.5vw)}}@media(min-width: 64em)and (min-width: 1200px){.right-column-container{padding-right:2.5rem}}@media(min-width: 85.375em){.right-column-container{padding-right:calc(1.425rem + 2.1vw)}}@media(min-width: 85.375em)and (min-width: 1200px){.right-column-container{padding-right:3rem}}@media(min-width: 120em){.right-column-container{padding-right:calc(1.475rem + 2.7vw)}}@media(min-width: 120em)and (min-width: 1200px){.right-column-container{padding-right:3.5rem}}.top-row-container,.headerList .top{padding:calc(1.325rem + 0.9vw)}@media(min-width: 1200px){.top-row-container,.headerList .top{padding:2rem}}@media(min-width: 64em){.top-row-container,.headerList .top{padding-left:calc(1.375rem + 1.5vw);padding-right:calc(1.375rem + 1.5vw)}}@media(min-width: 64em)and (min-width: 1200px){.top-row-container,.headerList .top{padding-left:2.5rem}}@media(min-width: 64em)and (min-width: 1200px){.top-row-container,.headerList .top{padding-right:2.5rem}}@media(min-width: 85.375em){.top-row-container,.headerList .top{padding-left:calc(1.425rem + 2.1vw);padding-right:calc(1.425rem + 2.1vw)}}@media(min-width: 85.375em)and (min-width: 1200px){.top-row-container,.headerList .top{padding-left:3rem}}@media(min-width: 85.375em)and (min-width: 1200px){.top-row-container,.headerList .top{padding-right:3rem}}@media(min-width: 120em){.top-row-container,.headerList .top{padding-left:calc(1.475rem + 2.7vw);padding-right:calc(1.475rem + 2.7vw)}}@media(min-width: 120em)and (min-width: 1200px){.top-row-container,.headerList .top{padding-left:3.5rem}}@media(min-width: 120em)and (min-width: 1200px){.top-row-container,.headerList .top{padding-right:3.5rem}}.bottom-row-container,.headerList .bottom{padding:calc(1.325rem + 0.9vw)}@media(min-width: 1200px){.bottom-row-container,.headerList .bottom{padding:2rem}}@media(min-width: 64em){.bottom-row-container,.headerList .bottom{padding-left:calc(1.375rem + 1.5vw);padding-right:calc(1.375rem + 1.5vw)}}@media(min-width: 64em)and (min-width: 1200px){.bottom-row-container,.headerList .bottom{padding-left:2.5rem}}@media(min-width: 64em)and (min-width: 1200px){.bottom-row-container,.headerList .bottom{padding-right:2.5rem}}@media(min-width: 85.375em){.bottom-row-container,.headerList .bottom{padding-left:calc(1.425rem + 2.1vw);padding-right:calc(1.425rem + 2.1vw)}}@media(min-width: 85.375em)and (min-width: 1200px){.bottom-row-container,.headerList .bottom{padding-left:3rem}}@media(min-width: 85.375em)and (min-width: 1200px){.bottom-row-container,.headerList .bottom{padding-right:3rem}}@media(min-width: 120em){.bottom-row-container,.headerList .bottom{padding-left:calc(1.475rem + 2.7vw);padding-right:calc(1.475rem + 2.7vw)}}@media(min-width: 120em)and (min-width: 1200px){.bottom-row-container,.headerList .bottom{padding-left:3.5rem}}@media(min-width: 120em)and (min-width: 1200px){.bottom-row-container,.headerList .bottom{padding-right:3.5rem}}.container{padding:calc(1.325rem + 0.9vw)}@media(min-width: 1200px){.container{padding:2rem}}@media(min-width: 64em){.container{padding:calc(1.375rem + 1.5vw);padding:calc(1.375rem + 1.5vw)}}@media(min-width: 64em)and (min-width: 1200px){.container{padding:2.5rem}}@media(min-width: 64em)and (min-width: 1200px){.container{padding:2.5rem}}@media(min-width: 85.375em){.container{padding:calc(1.425rem + 2.1vw);padding:calc(1.425rem + 2.1vw)}}@media(min-width: 85.375em)and (min-width: 1200px){.container{padding:3rem}}@media(min-width: 85.375em)and (min-width: 1200px){.container{padding:3rem}}@media(min-width: 120em){.container{padding:calc(1.475rem + 2.7vw);padding:calc(1.475rem + 2.7vw)}}@media(min-width: 120em)and (min-width: 1200px){.container{padding:3.5rem}}@media(min-width: 120em)and (min-width: 1200px){.container{padding:3.5rem}}.headerList{min-height:100%;display:flex;flex-direction:column;justify-content:center}.headerList~.arrow-right{border-left-color:rgba(0,0,0,.2)}.headerList~.arrow-right.active,.headerList~.arrow-right:hover{border-left-color:rgba(0,0,0,.5)}.headerList~.arrow-left{border-right-color:rgba(0,0,0,.2)}.headerList~.arrow-left.active,.headerList~.arrow-left:hover{border-right-color:rgba(0,0,0,.5)}.headerList .top{background-color:#4285f4;flex:1;display:flex}.headerList .top h1,.headerList .top h2,.headerList .top h3,.headerList .top h4,.headerList .top h5{display:flex;align-items:flex-end;color:#fff}.headerList .bottom{flex:2}.headerList .bottom ul,.headerList .bottom li{color:#737373;list-style-type:circle;margin-left:1rem}.headerList .bottom ul li,.headerList .bottom li li{margin-bottom:1rem}
