@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{box-sizing:border-box}html,body{height:100%}body{font-family:"Roboto",sans-serif;font-size:calc(1.275rem + 0.3vw);line-height:calc(1.325rem + 0.9vw)}@media(min-width: 1200px){body{font-size:1.5rem}}@media(min-width: 1200px){body{line-height:2rem}}.slides{height:100%}h1{font-size:calc(1.525rem + 3.3vw);line-height:calc(1.575rem + 3.9vw)}@media(min-width: 1200px){h1{font-size:4rem}}@media(min-width: 1200px){h1{line-height:4.5rem}}h2{font-size:calc(1.475rem + 2.7vw);line-height:calc(1.525rem + 3.3vw)}@media(min-width: 1200px){h2{font-size:3.5rem}}@media(min-width: 1200px){h2{line-height:4rem}}h3{font-size:calc(1.425rem + 2.1vw);line-height:calc(1.475rem + 2.7vw)}@media(min-width: 1200px){h3{font-size:3rem}}@media(min-width: 1200px){h3{line-height:3.5rem}}h4{font-size:calc(1.395rem + 1.74vw);line-height:calc(1.445rem + 2.34vw)}@media(min-width: 1200px){h4{font-size:2.7rem}}@media(min-width: 1200px){h4{line-height:3.2rem}}h5{font-size:calc(1.355rem + 1.26vw);line-height:calc(1.405rem + 1.86vw)}@media(min-width: 1200px){h5{font-size:2.3rem}}@media(min-width: 1200px){h5{line-height:2.8rem}}h6{font-size:calc(1.325rem + 0.9vw);line-height:calc(1.395rem + 1.74vw)}@media(min-width: 1200px){h6{font-size:2rem}}@media(min-width: 1200px){h6{line-height:2.7rem}}a{color:#51c2f7}.pos{position:absolute;bottom:calc(1.325rem + 0.9vw);left:calc(1.325rem + 0.9vw);font-size:calc(1.525rem + 3.3vw);line-height:calc(1.575rem + 3.9vw)}@media(min-width: 1200px){.pos{bottom:2rem}}@media(min-width: 1200px){.pos{left:2rem}}@media(min-width: 1200px){.pos{font-size:4rem}}@media(min-width: 1200px){.pos{line-height:4.5rem}}
.icons{position:absolute;bottom:calc(1.325rem + 0.9vw);right:calc(1.325rem + 0.9vw)}@media(min-width: 1200px){.icons{bottom:2rem}}@media(min-width: 1200px){.icons{right:2rem}}.icons a{display:inline-block;margin-left:0.5rem}.icons a.hidden{display:none}.icons a svg{height:calc(1.525rem + 3.3vw);width:calc(1.525rem + 3.3vw)}@media(min-width: 1200px){.icons a svg{height:4rem}}@media(min-width: 1200px){.icons a svg{width:4rem}}.left-column-container{padding:calc(1.325rem + 0.9vw);padding-left:calc(1.475rem + 2.7vw)}@media(min-width: 1200px){.left-column-container{padding:2rem}}@media(min-width: 1200px){.left-column-container{padding-left:3.5rem}}.right-column-container{padding:calc(1.325rem + 0.9vw);padding-right:calc(1.475rem + 2.7vw)}@media(min-width: 1200px){.right-column-container{padding:2rem}}@media(min-width: 1200px){.right-column-container{padding-right:3.5rem}}.top-row-container,.twoHeaders .top{box-shadow:0px 2px 5px 1px rgba(0,0,0,.3);padding:calc(1.325rem + 0.9vw);padding-left:calc(1.475rem + 2.7vw);padding-right:calc(1.475rem + 2.7vw)}@media(min-width: 1200px){.top-row-container,.twoHeaders .top{padding:2rem}}@media(min-width: 1200px){.top-row-container,.twoHeaders .top{padding-left:3.5rem}}@media(min-width: 1200px){.top-row-container,.twoHeaders .top{padding-right:3.5rem}}.bottom-row-container,.twoHeaders .bottom{padding:calc(1.325rem + 0.9vw);padding-left:calc(1.475rem + 2.7vw);padding-right:calc(1.475rem + 2.7vw)}@media(min-width: 1200px){.bottom-row-container,.twoHeaders .bottom{padding:2rem}}@media(min-width: 1200px){.bottom-row-container,.twoHeaders .bottom{padding-left:3.5rem}}@media(min-width: 1200px){.bottom-row-container,.twoHeaders .bottom{padding-right:3.5rem}}.container{padding:calc(1.325rem + 0.9vw);padding:calc(1.475rem + 2.7vw);padding:calc(1.475rem + 2.7vw)}@media(min-width: 1200px){.container{padding:2rem}}@media(min-width: 1200px){.container{padding:3.5rem}}@media(min-width: 1200px){.container{padding:3.5rem}}.twoHeaders{background-color:#4285f4;color:#fff;min-height:100%;display:flex;flex-direction:column;justify-content:center}.twoHeaders~.icons a.active svg,.twoHeaders~.icons a:hover svg{fill:rgba(255,255,255,.7)}.twoHeaders~.icons a svg{fill:rgba(255,255,255,.3)}.twoHeaders~.pos{color:rgba(255,255,255,.3)}
