@import "../client/vars.scss";
@import "../client/helpers.scss";

.blockquote {
  @include dark-arrows;
  @include dark-pos;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $lightText;

  blockquote {
    @include font-size(4rem);
  }

  .top {
    @extend .top-row-container;
  }

  .bottom {
    @extend .bottom-row-container;

    @include font-size(2rem);
  }
}
