@import "../client/vars.scss";
@import "../client/helpers.scss";

.headerParagraphImage {
  @include dark-arrows;
  @include dark-pos;

  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .left {
    @extend .left-column-container;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      flex: 1;
      align-items: flex-end;
      display: flex;
      color: $darkText;
    }

    p {
      color: $lightText;
      flex: 1;
    }
  }

  .right {
    @extend .right-column-container;

    background-color: $primary;
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }
}
