@import "../client/vars.scss";
@import "../client/helpers.scss";

.manyImages {
  @include light-arrows;
  @extend .container;

  background-color: $primary;
  color: white;

  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .image {
    justify-content: center;
    align-items: center;
    display: flex;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
