@import "../client/vars.scss";
@import "../client/helpers.scss";

.normal {
  @extend .container;
  @include light-arrows;
  @include light-pos;

  background-color: $primary;
  color: white;
  min-height: 100%;
}
