@import "../client/vars.scss";
@import "../client/helpers.scss";

.singleHeader {
  .container {
    @extend .container;
  }

  background-color: $blue;
  color: white;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-right: 50%;
  }
}
