@import "../client/vars.scss";
@import "../client/helpers.scss";

.twoHeaders {
  @include light-arrows;

  background-color: $blue;
  color: white;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top {
    @extend .top-row-container;
  }

  .bottom {
    @extend .bottom-row-container;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-bottom: 40px;
    }
  }
}
