@import "../client/vars.scss";
@import "../client/helpers.scss";

.twoHeaders {
  @include light-arrows;

  background-color: $primary;
  color: white;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top {
    @extend .top-row-container;
  }

  .bottom {
    @extend .bottom-row-container;
  }
}
