body,
html {
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

.playground-container {
  display: flex;
  min-height: 100%;
}

.playground-editor {
  flex: 1;
  flex-direction: column;
  border-right: 1px solid #ccc;
}

.playground-results {
  flex: 2;
  flex-direction: column;
}
