@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "./reset.css";

@import "./vars.scss";

$rfs-base-value: 0.5rem;
$rfs-breakpoint: 3200px;
$rfs-factor: 20;

@import "~rfs/scss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;

  @include font-size(3.5rem);
  @include rfs(4rem, line-height);
}

.slides {
  height: 100%;
}

h1 {
  @include font-size(8rem);
  @include rfs(8.5rem, line-height);
}
h2 {
  @include font-size(7.5rem);
  @include rfs(8rem, line-height);
}
h3 {
  @include font-size(7rem);
  @include rfs(7.5rem, line-height);
}
h4 {
  @include font-size(6.7rem);
  @include rfs(7.2rem, line-height);
}
h5 {
  @include font-size(6.3rem);
  @include rfs(6.8rem, line-height);
}
h6 {
  @include font-size(6rem);
  @include rfs(6.7rem, line-height);
}

a {
  color: #51c2f7;
}
