@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "./reset.css";

@import "./vars.scss";

@import "~rfs/scss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;

  @include font-size(1.5rem);
  @include rfs(2rem, line-height);
}

.slides {
  height: 100%;
}

h1 {
  @include font-size(4rem);
  @include rfs(4.5rem, line-height);
}
h2 {
  @include font-size(3.5rem);
  @include rfs(4rem, line-height);
}
h3 {
  @include font-size(3rem);
  @include rfs(3.5rem, line-height);
}
h4 {
  @include font-size(2.7rem);
  @include rfs(3.2rem, line-height);
}
h5 {
  @include font-size(2.3rem);
  @include rfs(2.8rem, line-height);
}
h6 {
  @include font-size(2rem);
  @include rfs(2.7rem, line-height);
}

a {
  color: #51c2f7;
}

.arrow {
  position: absolute;
  bottom: 50px;
}

.arrow-right {
  right: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px;

  border-top-color: transparent;
  border-bottom-color: transparent;

  border-right: none;

  border-left-color: rgba(255, 255, 255, 0.2);
  &:hover {
    border-left-color: rgba(255, 255, 255, 0.7);
  }
}

.arrow-left {
  right: 120px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px;

  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left: none;

  border-right-color: rgba(255, 255, 255, 0.2);

  &:hover {
    cursor: pointer;
    border-right-color: rgba(255, 255, 255, 0.7);
  }
}
